# ignore cache files
*.pyc
__pycache__
.venv
*ipynb_checkpoints

# ignore rl-model files
Q_table.txt
pickle_*_table*
neural_network*
*param_hist_*
saved_model.pb
keras_metadata.pb
*.zip
tb_logs/*
models/*
# ignore test files
tests/state compression tests/*
!tests/state compression tests/*.py
# ignore videos (demonstrations)
*.mp4
# ignore colelcted literature
local_research/*
/models
/tb_logs_20240724
/tb_logs_her
/piece_reward_tb_logs
/temp_tb_logs
/cuboid_3x2x2_tb_logs
/cuboid_3x3x2_tb_logs
# TODO: recreate similar image
doc/puzzle_solver/stepwise_rubiks_cube_solution.jpg
/cuboid_3x2x2_tb_logs2
/cuboid_3x3x2_tb_logs2
/dino_cube_plus_tb_logs
/rubiks_ai_sym_algs_tb_logs
/helicopter_cube_sym_algs_tb_logs
/cube_2x2x2_sym_algs_tb_logs
